#!/bin/bash
while read oldrev newrev refname
do
    branch=$(git rev-parse --symbolic --abbrev-ref $refname)
    build_file="{{ post_receive_branch_script_dir }}/build-$branch"
    echo "receiving update for '$branch'"
    if test -f $build_file; then
        echo "running hook $build_file"
        bash $build_file
    fi
done
